* {
	box-sizing: border-box;
	transition: all .1s ease-in;
}


body {
	font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
	border: 10px solid #2b81ac; 
	background: #3399cc;
	min-height: 100vh;
	margin: 0;
	color: white;
}

.container {
	max-width: 800px;
	width: 75%;
	margin: 0 auto;
}

h1{
	font-size: 20px;
	font-weight: normal;
}

h2{
	font-size: 18px;
	font-weight: normal;
}

ul {
	font-size: 0;
	padding: 0;
	border: 2px solid #fff;

}

li {
	font-size: 18px;
	display: inline-block;
	width: 100%;
	border: 2px solid white;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
	padding-top:18px;
	height: 16vh;
}

.sm
{
	width: 25%;
}

.md
{
	width: 50%;
}

.blue
{
	background: #3399cc;
}

.bir
{
	background: #33cccc;
}

.pur
{
	background: #996699;
}

.red
{
	background: #c24747;
}

.orange
{
	background: #e2674a;
}

.yellow
{
	background: #ffcc66;
}

.green
{
	background: #99cc99;
}

.gray
{
	background: #669999;
}

.pink
{
	background: #cc6699;
}

.darkgreen
{
	background: #339966;
}

.pur2
{
	background: #666699;
}

.wi-celsius {
	font-size: 30px;
}

.wi-night-hail,
.wi-day-sunny,
.wi-day-cloudy,
.wi-day-cloudy-high,
.wi-hot,
.wi-day-sleet-storm,
.wi-hail,
.wi-night-clear,
.wi-night-cloudy
{
	font-size: 25px;
}

li, span, i{
	vertical-align: middle;
}

ul:hover li:not(:hover){
	opacity: 0.6;	
}

span {
	display: block;
	padding-top: 10px;
	opacity: 0.5;
}


@media screen and (max-width: 576px) {
	.sm {
		width:  100%;
	}

	.md {
		width: 100%;
	}

}

/* если начинаем писать сначало с мобильной версии, 
то убиоаем кдассы sm и md выше тега @media  и пишем 


@media screen and (min-width: 576px) {
	.sm {
		width:  100%;
	}

	.md {
		width: 100%;
	}

}

 */

